:root {
    --crema: #FCF8E8;
    --naranja: #DF7861;
    --amarillo:#ECB390;
    --verde: #94B49F ;
    --verde-transparente: rgba(148, 180, 159, 0.8);
}
* {
    padding: 0;
    box-sizing: border-box;
 }
 
 html { 
    font-size: 16px;
    height: 100%;
 }

 .header, .footer{background: var(--naranja);}

 body, header, main, footer { 

min-height: 50px;
margin:0.5rem;}

body { 
    background-color: var(--crema);
    font-family: 'Montserrat', Helvetica, sans-serif;
}

header { 
    display: flex;
}

main { min-height: 200px;
overflow: auto;
background-color: var(--crema);
display: flex;
flex-wrap: wrap;}


.header-menubar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0.5rem 0 0.5rem 1rem;
    background-color: var(--verde-transparente);
    border-radius: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.header-menubar ul{
    list-style: none;
}

.header-menubar li {
    display: flex;
    justify-content: space-between;
    float:left;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem;
}

.encabezado-home {
    text-align:center;
    padding: 10px;
}

.recetas-grid {padding: 2% 10% 2% 10%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) ) ;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr) );
    color: #FFF;
    align-items: center;
  }

  .secciones {
    min-height: 50px;
    margin: 0.5rem;
    background-color: #fff;
    border-radius: 5px;
   
    
}    
  .receta {
    background-color: var(--amarillo);
    border-radius: 5%;
    padding: 0px;
    text-align: center;

  }

  .receta-detalles {padding: 10px;
}
  .receta-imagen > img {  
  max-width: 100%;
        display: block;
        margin: 0 auto;
        border-radius: 5% 5% 0 0;
        width:100%; 
        height:100%;
        object-fit: cover;
    
     }


@media screen and (max-width: 780px){
    aside{
        background-color: var(--verde);
        width: 100%;
    }
    .pasos{
        width: 100%;
    }
    
        main, nav, header {   
          flex-direction: column;
          padding: 10px;
        }
      
      .header, .footer{
        flex-grow: 1;
        flex-basis: 100%;
        padding: 10px;
    }
    
.recetas-grid {padding: 2% 10% 2% 10%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, minmax(100px, 1fr) ) ;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr) );
    color: #FFF;
    align-items: center;
    font-size: 80%;
    object-fit: cover;
  }
}


@media all and (min-width: 780px){
    .footer{order:4;}

.home {
    min-height: 100px;
/*     border: 2px blue solid;*/
    margin: 0.5rem;
    height: auto;
    float: left;
    width: 100%;
}


.flex-container-home {
    display: flex;
    justify-content: center;
  }
  
  .flex-container-home > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

/* contenido principal  */
main>div {
    min-height: 100px;
    margin: 0.5rem;
    height: auto;
    float: left;
    width: 65%;
}

main>aside {
    min-height: 100px;
    margin: 0.5rem;
    float: left;
}
.contenido-ppal { 
    display: flex;
    flex-wrap: wrap;
  }

  

.secciones article{
    margin: 0.5rem;
}

.header-logo { 
    width: auto;
    display: inline-block;
    margin: 0.5rem;
}
.header-menubar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
 
    background-color: #94B49F;
    border-radius: 30px;
}

.header-menubar ul{
    list-style: none;
}

.header-menubar li {
    display: flex;
    justify-content: space-between;
    float:left;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem;
}

.header-menubar>img {width: 100%;}

/* -------------------------detallesReceta------- */

aside{
    background-color: var(--crema);
    width: 20%;
    padding: 20px;
}


.pasos {
    display: grid;
    list-style-type: none;
    flex-direction: nowrap;
    gap: 10px; /* espacio entre filas y columnas  */
}
.box {
    background-color: var(--amarillo);
    padding: 10px;
    text-align: center;
    
}
.pasos >div p{
    display: flex;
}
.pasos > div{
    background-color: var(--verde);
    margin: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 25px 0;
}

.form-grid {
    display: grid;
    grid-template: 50px 50px 50px 100px auto/380px;
    grid-gap: 16px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-text {
    height: 40px;
    padding: 0 8px;
    border-radius: 0.4rem;

}

.input-area {
    height: 80px;
    resize: none;
}

.submit-container {
    display: flex;
    justify-content: end;
}

.btn-submit {
    height: 40px;
    width: 30%;
    background-color: var(--naranja);
    color: var(--crema);
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #CCC;
    border-radius: 1.5rem;
}}