@media screen and (max-width: 780px){
    aside{
        background-color: #94B49F;
        width: 100%;
    }
    .pasos{
        width: 100%;
    }
    
        main, .navbar {   
          flex-direction: column;
        }
      
      .header, .footer{
        flex-grow: 1;
        flex-basis: 100%;
        padding: 10px;
    }
}


@media all and (min-width: 780px){
    .footer{order:4;}

.header, .footer{background: #DF7861;}
* {
    padding: 0;
    box-sizing: border-box;
 }
 
 html { 
    font-size: 16px;
    height: 100%;
 }

 body, header, main, footer { 

min-height: 50px;
margin:0.5rem;}

body { 
    background-color: #FCF8E8;
    font-family: Helvetica, sans-serif;
}

header { 
    display: flex;
}

main { min-height: 200px;
overflow: auto;
background-color: #FCF8E8;
display: flex;
flex-wrap: wrap;}

.home {
    min-height: 100px;
/*     border: 2px blue solid;*/
    margin: 0.5rem;
    height: auto;
    float: left;
    width: 100%;
}

.encabezado-home {
    text-align:center;
}

.flex-container-home {
    display: flex;
    justify-content: center;
  }
  
  .flex-container-home > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

/* contenido principal  */
main>div {
    min-height: 100px;
/*     border: 2px blue solid;*/
    margin: 0.5rem;
    height: auto;
    float: left;
    width: 65%;
}

main>aside {
    min-height: 100px;
    margin: 0.5rem;
    float: left;
}


.recetas-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) ) ;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr) );
    color: #FFF;
    align-items: center;
  }

  .receta {
    background-color: #ECB390;
    border-radius: 5px;
    padding: 20px;
    text-align: center;

  }
  .receta-imagen > img {  object-fit: cover; }


.contenido-ppal { 
    display: flex;
    flex-wrap: wrap;
  }

  
.secciones {
    min-height: 50px;
    margin: 0.5rem;
    background-color: #fff;
    border-radius: 5%;
   
    
}    

.secciones article{
    border: 2px purple solid;
    margin: 0.5rem;
}

.header-logo { 
    width: auto;
    display: inline-block;
    margin: 0.5rem;
}
.header-menubar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0.5rem 0 0.5rem 1rem;
    background-color: #94B49F;
    border-radius: 30px;
}

.header-menubar ul{
    list-style: none;
}

.header-menubar li {
    display: flex;
    justify-content: space-between;
    float:left;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem;
}

.header-menubar>img {width: 100%;}

/* -------------------------detallesReceta------- */

aside{
    background-color: #FCF8E8;
    width: 20%;
    padding: 20px;
}


.pasos {
    display: grid;
    list-style-type: none;
    flex-direction: nowrap;
    gap: 10px; /* espacio entre filas y columnas  */
}
.box {
    background-color: #ECB390;
    padding: 10px;
    text-align: center;
}
.pasos > div{
    background-color: #94B49F;
    margin: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 25px 0;
}

.form-grid {
    display: grid;
    grid-template: 50px 50px 50px 100px auto/380px;
    grid-gap: 16px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-text {
    height: 40px;
    padding: 0 8px;
    border-radius: 0.4rem;

}

.input-area {
    height: 80px;
    resize: none;
}

.submit-container {
    display: flex;
    justify-content: end;
}

.btn-submit {
    height: 40px;
    width: 30%;
    background-color: #DF7861;
    color: #FCF8E8;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #CCC;
    border-radius: 1.5rem;
}}